// Colors
$color-charcoal: #2c2830;
$color-muted: #837d88;
$color-purple: #2d2641;
$color-secondary: #96a9c6;
$color-white: #ffffff;

// Font Size
$font-xs: 1.3rem;
$font-sm: 1.6rem;
$font-md: 2.8rem;
$font-lg: 5.6rem;
$font-xl: 7.2rem;

// Font family
$font-karla: "Karla", sans-serif;
$font-dm: "DM Serif Display", sans-serif;
