// footer
.footer {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  background-color: #fafafa;
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  @include respond(sm) {
    padding: 8.8rem 2.4rem;
    background-position: top right -50px;
  }
  &__head {
    @include flex($justify: space-between, $align: center);
    padding-bottom: 3.6rem;
    border-bottom: 1px solid #dadada;
    margin-bottom: 4rem;
    @include respond(sm) {
      @include flex($gap: 3.2rem, $direction: column, $align: center);
    }
  }
  &__icons {
    @include flex($gap: 1.6rem);

    i {
      font-size: 2.4rem;
      color: $color-muted;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: $color-charcoal;
      }
    }
  }
  &__list {
    @include flex($justify: space-between, $wrap: wrap);
    @include respond(sm) {
      @include flex($justify: center, $align: center, $wrap: wrap);
    }
  }
  &__item {
    width: 100%;
    max-width: 255px;
    @include flex($direction: column, $gap: 1.6rem);
    @include respond(1135px) {
      margin-bottom: 4rem;
    }
    @include respond(sm) {
      text-align: center;
      @include flex(
        $direction: column,
        $gap: 1.6rem,
        $align: center,
        $justify: center
      );
    }
  }
  &__link-1 {
    margin-bottom: 2rem;
    color: $color-muted !important;
  }
  &__link {
    color: $color-purple;
    font-size: $font-xs;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
  }
}
