// hero
.hero__top {
  display: none;
  @include respond(sm) {
    display: block;
  }
  img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
}
.hero {
  position: relative;
  background-color: $color-purple;
  padding-top: 10.5rem;
  color: $color-white;
  margin-bottom: 30.5rem;
  @include respond(sm) {
    padding: 0;
    margin-bottom: 14rem;
  }
  &__bg-1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    object-fit: contain;
    @include respond(sm) {
      display: none;
    }
    @include respond(1050px) {
      width: 100%;
      max-width: 210px;
      height: 280px;
    }
  }
  &__bg-2 {
    position: absolute;
    z-index: 1;
    bottom: -60%;
    @include respond(1050px) {
      width: 100%;
      max-width: 110px;
      height: 180px;
      bottom: 10px;
    }
    @include respond(sm) {
      display: none;
    }
  }
  &__bg-3 {
    display: none;
    @include respond(sm) {
      display: block;
      position: absolute;
    }
  }
  &__bg-4 {
    display: none;
    position: absolute;
    @include respond(sm) {
      display: block;
      bottom: -35%;
      right: 0;
    }
  }
  &__container {
    @include flex($gap: 3rem);
    @include respond(1050px) {
      @include flex($direction: column);
    }
  }
  &__about {
    width: 100%;
    max-width: 540px;
    @include respond(sm) {
      text-align: center;
      padding: 9.3rem 2.4rem;
    }
  }
  &__mark {
    width: 100%;
    max-width: 150px;
    height: 1px;
    background-color: $color-white;
    margin-bottom: 6.3rem;
    @include respond(sm) {
      display: none;
    }
  }
  &__title {
    font-family: $font-dm;
    font-size: $font-xl;
    letter-spacing: 2px;
    line-height: 0.88;
    margin-bottom: 2.6rem;
    @include respond(sm) {
      font-size: 4rem;
      line-height: 1;
      margin-bottom: 1.6rem;
      letter-spacing: 0;
    }
  }
  &__description {
    font-size: $font-sm;
    line-height: 1.625;
    margin-bottom: 2.4rem;
    @include respond(sm) {
      margin-bottom: 3.2rem;
    }
  }
  &__img {
    margin-bottom: -15.5rem;
    width: 100%;
    max-width: 540px;
    @include respond(1050px) {
      margin-top: 3rem;
      margin-bottom: 0;
      padding-bottom: 4rem;
    }
    @include respond(sm) {
      display: none;
    }
  }
}
// services
.services {
  margin-bottom: 15.8em;
  @include respond(sm) {
    margin-bottom: 14rem;
  }
  &__mark {
    width: 100%;
    max-width: 150px;
    height: 1px;
    background-color: #c396c6;
    margin-bottom: 6.3rem;
    @include respond(sm) {
      margin-bottom: 4rem;
      @include m-center;
    }
  }
  &__title {
    font-size: $font-xl;
    line-height: 0.88;
    color: $color-charcoal;
    font-family: $font-dm;
    font-weight: 400;
    margin-bottom: 9.6rem;
    @include respond(sm) {
      font-size: 4.8rem;
      line-height: 1;
      letter-spacing: -0.67px;
      text-align: center;
      margin-bottom: 8rem;
    }
  }
  &__list {
    @include flex($justify: space-between, $wrap: wrap);
    @include respond(lg) {
      @include flex(
        $justify: center,
        $align: center,
        $wrap: wrap,
        $gap: 5.6rem
      );
    }
    @include respond(sm) {
      @include flex(
        $wrap: wrap,
        $justify: center,
        $align: center,
        $gap: 5.6rem
      );
    }
  }
  &__item {
    width: 100%;
    max-width: 350px;
    height: 250px;
    @include respond(sm) {
      text-align: center;
    }
    img {
      margin-bottom: 3.2rem;
      @include respond(sm) {
        @include m-center;
      }
    }
  }
  &__subtitle {
    font-size: 2.8rem;
    color: $color-charcoal;
    font-family: $font-dm;
    line-height: 1;
    letter-spacing: -0.39px;
    font-weight: 400;
    margin-bottom: 1.6rem;
  }
  &__description {
    font-size: $font-sm;
    line-height: 1.625;
    color: $color-muted;
  }
}
// About
.about {
  margin-bottom: 15rem;
  @include respond(sm) {
    margin-bottom: 14rem;
  }
  &__container {
    padding: 6.9rem 10.4rem 6.9rem 8.1rem;
    background-color: $color-purple;
    @include flex($justify: space-between, $align: center);
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    @include respond(md) {
      @include flex($direction: column, $align: center, $justify: center);
      text-align: center;
      background-position: top right -50%;
    }
    @include respond(sm) {
      padding: 7.2rem 2.4rem;
      background-size: 400px 300px;
      background-position: top right -150px;
    }
  }
  &__title {
    width: 100%;
    max-width: 475px;
    font-size: $font-lg;
    color: $color-white;
    line-height: 1;
    font-family: $font-dm;
    font-weight: 400;
    letter-spacing: -0.78px;
    @include respond(md) {
      font-size: 4rem;
      margin-bottom: 4rem;
    }
  }
}
